body {
  
  width: 375px;
  height: 718px;
  background-color: white;
  margin: auto;
}
.text1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172B4D;
}

.text2 {
  width: 327px;
  height: 146px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563; 
  flex-grow: 0; 
}

.text3{
  color: #7F8CFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

}
.links {
  display: flex;
}

.tweeter ,.Linkd, .cat{
  margin: 0px 20px 0px 0px;
}
.messages {
  margin: 4px 20px 0px 0px;
}
